
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-div-hide text-rigth w-80 text-white">
      <h2>Portfolio</h2>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <a class="navbar-brand text-white" [routerLink]="['/home']">Portfolio</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-trabajo']">Trabajos</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="dropstart">
          <img class="img-thumbnail rounded-4 p-0" src="../assets/yo.jpg" alt="Jose Ricardo" style="max-width: 50px;" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu">
            <li class="list-group-item list-group-item-info">
              <a class="dropdown-item" target="_blank" href="https://www.facebook.com/riichoarellano/">
                <i class="bi bi-facebook" style="color: #3b5998 !important;font-size: 20px !important;"></i>&nbsp; José Ricardo Hernández Arellano
              </a>
            </li>
            <li class="list-group-item list-group-item-info">
              <a class="dropdown-item" target="_blank" href="https://github.com/JRicardoHernandez">
                <i class="bi bi-github" style="font-size: 20px !important;"></i>&nbsp; JRicardoHernandez
              </a>
            </li>
            <li class="list-group-item list-group-item-info">
              <a class="dropdown-item" target="_blank" href="https://www.instagram.com/josericardo_hdz/">
                <i class="bi bi-instagram" style="font-size: 20px !important;color: #e1306c !important;"></i>&nbsp; @josericardo_hdz
              </a>
            </li>
            <li class="list-group-item list-group-item-info">
              <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/josericardo-hdz/">
                <i class="bi bi-linkedin" style="font-size: 20px !important;color: #46C1F6 !important;"></i>&nbsp; josericardo_hdz
              </a>
            </li>
            <li class="list-group-item list-group-item-info">
              <a class="dropdown-item" target="_blank" href="mailto:hernandez_jricardo@outlook.com?Subject=Interesado%20para%20proyectos">
                <i class="bi bi-envelope" style="font-size: 20px !important;"></i>&nbsp; hernandez_jricardo@outlook.com
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="list-group-item list-group-item-info pb-2">
              <span class="dropdown-item">
                <i class="bi bi-person-badge" style="font-size: 20px !important;color: #6ea8fe !important;"></i>&nbsp;Jos&eacute; Ricardo Hern&aacute;ndez Arellano
              </span>
              <footer class="blockquote-footer mt-1" style="background-color: transparent !important;"><cite title="Source Title">Ingeniero en Sistemas</cite></footer>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="p-4 text-center">
  <div class="icons_container">
    <div class="icon facebook">
       <div class="tooltip">
          Facebook
       </div>
       <span class="align-middle icons-media">
        <a target="_blank" href="https://www.facebook.com/riichoarellano/"><i class="bi bi-facebook"></i></a>
       </span>
    </div>
    <div class="icon linkedin">
       <div class="tooltip">
          LinkedIn
       </div>
       <span class="align-middle icons-media">
        <a target="_blank" href="https://www.linkedin.com/in/josericardo-hdz/"><i class="bi bi-linkedin"></i></a>
       </span>
    </div>
    <div class="icon instagram">
       <div class="tooltip">
          Instagram
       </div>
       <span class="align-middle icons-media">
        <a target="_blank" href="https://www.instagram.com/josericardo_hdz/"><i class="bi bi-instagram"></i></a>
       </span>
    </div>
    <div class="icon github">
       <div class="tooltip">
          Github
       </div>
       <span class="align-middle icons-media">
        <a target="_blank" href="https://github.com/JRicardoHernandez"><i class="bi bi-github"></i></a>
       </span>
    </div>
    <div class="icon mail">
       <div class="tooltip">
          Correo
       </div>
       <span class="align-middle icons-media">
        <a target="_blank" href="mailto:hernandez_jricardo@outlook.com?Subject=Interesado%20para%20proyectos"><i class="bi bi-envelope"></i></a>
       </span>
    </div>
  </div>
</footer>